{% load static wagtailuserbar menus_tags cache %}

{% get_menu "main" as navigation %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <script src="https://kit.fontawesome.com/6008f7c949.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header style="padding-top: 2.9rem">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Legal Aid</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">                
                {% cache 604800 navigation %}        <!--cache it for one week, delete cache if changed-->
                    {% for item in navigation.menu_items.all %}
                        <li>
                            <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
                        </li>
                    {% endfor %}
                {% endcache %}
                </ul>
                <!--
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -->
            </div>
            </nav>
        </header>
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {% cache 604800 footer %}
        <footer class="page-footer font-small bg-dark pt-4">
            <div class="container text-center text-white bg-dark text-md-left">

                <!-- Grid row -->
                <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                    <p>we are a team of young professional's providing assistance and guidance through digital means.
                    we have thousand's of satisfied customer's PAN india.</p>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                    <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                    </ul>

                </div>
                <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <hr>
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                {% if settings.site_settings.SocialMediaSettings.Linkedin %}
                    <li class="list-inline-item">
                    <a class="btn-floating fa-lg btn-li mx-1" href="{{ settings.site_settings.SocialMediaSettings.Linkedin }}" >
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                    </li>
                {% endif %}    
                {% if settings.site_settings.SocialMediaSettings.Twitter %}
                    <li class="list-inline-item">
                    <a class="btn-floating fa-lg btn-tw mx-1" href="{{ settings.site_settings.SocialMediaSettings.Twitter }}" >
                        <i class="fab fa-twitter"></i>
                    </a>
                    </li>
                {% endif %} 
                {% if settings.site_settings.SocialMediaSettings.Instagram %}   
                    <li class="list-inline-item">
                    <a class="btn-floating fa-lg btn-tw mx-1" href="{{ settings.site_settings.SocialMediaSettings.Instagram }}">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    </li>
                {% endif %}    
                <li class="list-inline-item">
                <a href="/contact-us/" class="btn btn-danger btn-rounded">Contact us!</a>
                </li>
            </ul>
            <!-- Call to action -->
            <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
                <a href="http://legalaid.site">legalaid.site</a>
            </div>
        </footer>
        {% endcache %}

        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
