{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    
     {% image self.banner_image fill-1200x300 as img %}
     <div class="jumbotron p-3 p-md-5 text-white rounded" style="background-image: url('{{ img.url }}'); background-size: cover; min-height: 300px;" >
        <h2>
            {% if self.custom_title %}
                    {{ self.custom_title }}
                {% else %}
                    {{ self.title }}
            {% endif %}
        </h2>
        <div class="lead">
            {% if self.subtitle %}
                <h3>{{ self.subtitle }}</h3>
            {% endif %}
        </div>        
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

    </div>

<div class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-2 mb-1 font-italic">
        From the Firehose
      </h3>
        {% if self.intro_image %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {% image self.intro_image fill-400x250 as intro_img %}
                    <img src="{{ intro_img.url }}" alt="{{ intro_img.alt }}">
                </div>
            </div>
        </div>
        {% endif %}
      <div class="blog-post">
        <p class="blog-post-meta">{{ self.last_published_at|date}}  written by:
        
        {% for iter in self.blog_authors.all %}
                    
                    {% if iter.author.website %}
                        <a href="{{ iter.author.website }}">
                            {{ iter.author.name }}
                        </a>
                    {% else %}
                        {{ iter.author.name }}
                    {% endif %}
                    
                {% endfor %}
        
        </p>
        <hr>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ self.youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
      </div><!-- /.blog-post -->

      
     <div class="blog-post">
            
                {% for block in self.content %}
                    {% include_block block %}
                {% endfor %}
            
    </div>
      
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        {% if page.tags.count %}
        <h4 class="font-italic">Tags:</h4>
        <ol class="list-unstyled mb-0">
          {# Check if there are tags #}
        {% for tag in page.tags.all %}
            {# Loop through all the existing tags #}
            <li><a href="/blog/?tag={{ tag.slug }}">{{ tag }}</a></li>
        {% endfor %}
        </ol>
        {% endif %}  
      </div>

    {% if self.categories.count %}
      <div class="p-4">
        <h4 class="font-italic">Categories</h4>
        <ol class="list-unstyled">
                    {% for cat in self.categories.all %}
                        
                        <a href="?category={{ cat.slug }}">
                            {{ cat.name }}
                        </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
        </ol>
      </div>
    {% endif %}      
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->


{% endblock %}